$roboto: 'Roboto', sans-serif;
$robotSlab: 'Roboto Slab', serif;

.font_roboto {
  font-family: $roboto;
  font-weight: 400;
}

.font_roboto-medium {
  font-family: $roboto;
  font-weight: 500;
}

.font_roboto-bold {
  font-family: $roboto;
  font-weight: 900;
}

.font_roboto-slab {
  font-family: $robotSlab;
  font-weight: 400;
}

.font_roboto-slab-bold {
  font-family: $robotSlab;
  font-weight: 900;
}