.down-button__arrow {
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: white;
  top: 15px;
  transition: top 0.2s ease;

  &:first-child {
    left: 5px;
    transform: rotate(45deg);
  }
  &:last-child {
    left: 15px;
    transform: rotate(135deg);
  }
}