input[type="radio"] {
  display: none;
}

.blog-slider__controls {
  position: absolute;
  z-index: 10000;
  bottom: 25px;
  left: 50%;
  margin-left: -30px;

  label {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 2px;
    border-radius: 50%;
    background: #555365;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      background: #FFAF7A;
    }
  }
}

#switch1 {
  &:checked ~ .slides-container {
    margin-left: 0;
  }
}

#switch2 {
  &:checked ~ .slides-container {
    margin-left: -100%;
  }
}

#switch3 {
  &:checked ~ .slides-container {
    margin-left: -200%;
  }
}

#switch4 {
  &:checked ~ .slides-container {
    margin-left: -300%;
  }
}

#switch1:checked ~ .blog-slider__controls label:nth-child(1),
#switch2:checked ~ .blog-slider__controls label:nth-child(2),
#switch3:checked ~ .blog-slider__controls label:nth-child(3),
#switch4:checked ~ .blog-slider__controls label:nth-child(4) {
  background: #FFAF7A;
  width: 10px;
  height: 10px;
  margin: 1px;
}
