.post_size-big {
  text-align: left;
  position: relative;
  align-items: flex-start;
  width: 550px;
  height: 570px;
  margin: 1.1%;

  .post-img {
    width: 550px;
    height: 390px;
  }

  .post-caption {
    font-size: 20px;
    width: 400px;
    margin-left: 30px;
  }

  .post-description {
    margin-left: 30px;
    width: 490px;
  }

  .post-date {
    position: absolute;
    right: 30px;
    top: 420px;
  }

  .post-label {
    left: initial;
    right: 15px;
  }
}