.site-menu__item {
  position: relative;
  font-size: 11px;
  padding: 0 22px;
  text-decoration: none;
  color: black;
  transition: color 0.2s ease;

  &:hover {
    color: #7a7887;
  }
}

@import "_active/site-menu__item_active";