.post {
  position: relative;
  width: 260px;
  height: 360px;
  margin: 1.1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
}

@import "_shadow/post_shadow";
@import "_size-big/post_size-big";
@import "post-date/post-date";
@import "post-description/post-description";
@import "post-img/post-img";
@import "post-label/post-label";
@import "post-video/post-video";
@import "post-caption/post-caption";
@import "post-wrapper/post-wrapper";
